{% load bootstrap5 %}
{% load static %}
<link rel="stylesheet" href="https://fonts.google.com/">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
    integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
{% block styles %}
{% bootstrap_css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}
{% block navbar %}
{% include 'navbar.html'%}
{% endblock %}
{% include 'status.html'%}
{% block content %}
<br><br>
<div class="profile" style="margin-left: 70%;">
    <div class="image mx-2">
        {%if user.profile.profile_pic %}
        <img src="{{ user.profile.profile_pic.url }}" alt="" style="border-radius: 50%;">
        {%else%}
        <img src="/static/images/user (2).png" alt="" style="height: 120px; width: 120px;border-radius: 50%;">
        {%endif%}
    </div>
    <div class="name mx-2 ps-5 ms-4">
        <a href="#" class="username">{{user.username}}</a>
    </div>
    <button class="btn-primary btn-sm ">Follow</button>
    <hr>Suggestions For You
</div>
<div class="row" style="margin-top: -17%; margin-left: 5%;">
    {% for post in post %}
    <div class="col-md-12" >
        <img src="{{post.image.url}}" alt="image"> <br> <br>
        <div class="img">
            <a class="navigation-link notifica" a href="{% url 'comment' %}" ><i class="fa fa-comment" aria-hidden="true"></i></a>
        <a class="navigation-link notifica">
                
            {% if post in liked_posts%}
            <a class="navigation-link notifica"  href="{% url 'like' post_id=post.id%}"><i class="far fa-heart"></i></i></a>
            {% else %}
            <a class="navigation-link notifica"  href="{% url 'like' post_id=post.id%}"><i class="far fa-heart"></i></a>
            {% endif %}
            <a class="navigation-link notifica" href=""><i class="fas fa-save" aria-hidden="true"></i></a>
                <p class="ps-5 ms-4"><strong> {{ post.likes.count }} like{{ post.likes.count | pluralize}}</strong></p>
                    <p class="ps-4">{{ post.content|truncatechars:30 }}<span class="text-muted small">{%if post.content|wordcount > 5%}more{%endif%}</span>
                </p>
        </a>
    </div>
    {% endfor %}
</div>
</div>

{% endblock %}

