{% extends 'base.html' %}
{% block navbar %}
{% include 'navbar.html'%}
{% endblock %}
{% block content %}
<div class="card mt-5 pt-5 py-3">
    <div class="status d-flex py-2">
    <div class="status-item mx-3">
        <div class="status-div">
            <a href="#">
                <img class="img-fluid" src="/static/images/KW.png" alt="">
            </a>
        </div>
        <div class="username mt-1">
            <small>Kelvin</small>
        </div>
    </div>
    <div class="status-item mx-3">
        <div class="status-div">
            <a href="#">
                <img class="img-fluid" src="/static/images/pexels-isabella-mendes-338713.jpg" alt="">
            </a>
        </div>
        <div class="username mt-1">
            <small>Jay</small>
        </div>
    </div>
    <div class="status-item mx-3">
        <div class="status-div">
            <a href="#">
                <img class="img-fluid" src="/static/images/pexels-pixabay-15239.jpg" alt="">
            </a>
        </div>
        <div class="username mt-1">
            <small>Dalton</small>
        </div>
    </div>
    <div class="status-item mx-3">
        <div class="status-div">
            <a href="#">
                <img class="img-fluid" src="/static/images/tiger.jpeg" alt="">
            </a>
        </div>
        <div class="username mt-1">
            <small>Ronney</small>
        </div>
    </div>
    <div class="status-item mx-3">
        <div class="status-div">
            <a href="#">
                <img class="img-fluid" src="/static/images/pexels-pixabay-15239.jpg" alt="">
            </a>
        </div>
        <div class="username mt-1">
            <small>Brian</small>
        </div>
    </div>
    <div class="status-item mx-3">
        <div class="status-div">
            <a href="#">
                <img class="img-fluid" src="/static/images/pexels-pixabay-15239.jpg" alt="">
            </a>
        </div>
        <div class="username mt-1">
            <small>Ballowin</small>
        </div>
    </div>
    <div class="status-item mx-3">
        <div class="status-div">
            <a href="#">
                <img class="img-fluid" src="/static/images/IMG-20220518-WA0028-modified.png" alt="">
            </a>
        </div>
        <div class="username mt-1">
            <small>Chepkorir</small>
        </div>
    </div>
    <div class="status-item mx-3">
        <div class="status-div">
            <a href="#">
                <img class="img-fluid" src="/static/images/about.jpg" alt="">
            </a>
        </div>
        <div class="username mt-1">
            <small>Victor</small>
        </div>
    </div>
    </div>
    </div>
{% endblock %}